{% if app.user == article.author or 'ROLE_ADMIN' in app.user.roles %}
    <form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm('Вы уверены?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
        <button type="submit">Удалить</button>
    </form>
{% endif %}